regexes:
    function: '^def\\s+([^_][^\\s)()]+)'
    class: '^class\\s+([^_][^\\s)(:]+)'
    global: '^([A-Z][A-Z_0-9]+)\\s*='
    numpy: "numpy"
    test_function: '^def\\s+(test_[^\\s)()]+)'

tasks:
    mkinit:
        "lindworm/lindworm": [
            'function'
            'class'
            'global'
            'numpy'
        ]
        "lindworm/sigurdlib": [
            "class"
        ]
        "lindworm/utils": [
            'function'
            'class'
            'global'
        ]
        tests: [
            'test_function'
        ]
