operator_curry:
    regex: '(?<operator>contains|\\.\\.\\*\\*>|<\\*\\*\\.\\.|isnt|\\.\\.\\*>|\\.\\.\\*\\*|<\\*\\.\\.|\\|\\*\\*>|<\\*\\*\\||over|not|::\\*|\\.\\.>|\\.\\.\\*|<\\.\\.|\\|\\*>|<\\*\\||in|//|\\*\\*|is|<<|>>|<=|==|!=|>=|::|\\?\\?|\\.\\.|\\|>|<\\||\\+|/|\\&|\\^|\\~|\\||%|\\*|@|\\-|<|>|\\$)\\$'
    formatter: 'OPERATORS[\'{ group:operator }\']'

